body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background-color:dimgray;
    padding: 20px;
    border-radius: 16px;
    width: 275px;
}
#calcDisplay{
    width: 100%;
    background-color:black;
    color: white;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 4px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,60px);
    gap: 8px;
}

